.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #1c1c1c;
  font-size: 16px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
}

.container {
width: 100%;
max-width: 1000px;
margin: 0 auto;
clear:both;
}


a {
  text-decoration: none;
}

header {
  padding: 2% 3%;
  margin: 0 2%;
  overflow: hidden;
}

header img {
  width: 30%;
}

header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 10px 0 15px;
  font-size: 1.25em;
  text-decoration: none;
}

header nav ul li a {
  color: #417292;
  padding: 0 10px;
  display: block;
}
nav a:hover {
  background: #407192;
  color: white;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

nav ul > li ul   { 
  background: #407192; 
  solid #000; 
  display: none; 
  margin: 0;
  position: absolute; 
  z-index: 1000;
      -moz-box-shadow: 2px 2px 4px #999;
   -webkit-box-shadow: 2px 2px 4px #999;
           box-shadow: 2px 2px 4px #999; 
}

nav ul > li li { 
  float: none;
  font-size: 18px;
  color: white; 
}

nav ul > li li a { 
  color: white; 
  display: block; 
  margin: 0 1px; 
  padding: 12px 7px 12px 15px; 
}

nav ul > li:hover ul { 
 display: block;
 padding: 8px 7px 8px 0; 
}

nav ul > li li:hover   { 
  background: #407192; 
  text-decoration: underline;
}

nav .line{
  width: 2.5em;
  height: .25em;
  background: black;
  border-radius: 1em;
  margin-top: .25em;
}

nav li.hamburger {
  float: right;
  display: none;
  cursor: pointer;
}

nav .line:first-of-type{
  margin-top:.7em;
}


h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

h4 {
  font-size: .75em;
}

p{
  color: #2d2d2d;
  font-size: 1.1em;
}

/******************************************
/* HOME PAGE
/*******************************************/

.description {
  color: white;
  font-size: 1.5em;
  background-color: rgba(152, 153, 153, .5);
  padding: 20px 10px;
  text-align: center;
}

.graphic {
  background: url(../images/US_Capitol_Building,_East_side_steps_and_dome.jpg) no-repeat center #131e27;
  height: 400px;
  background-size: cover;
  padding: 100px 100px;
}

.advocacy, .development, .digital, .events{
  width: 24%;
  display: inline-block;
  text-align: center;
  margin: 40px 0;
}
.advocacy img, .development img, .digital img, .events img {
  width: 200px;
  margin: auto;
}

p.tj_quote {
  color: white;
  font-size: 1.1em;
  padding: 5% 50% 10% 50px;
}

article {
  background: url(../images/thomas-jefferson.jpg) no-repeat center #131e27;
  height: 400px;
  background-size: cover;
}

footer {
  text-align: center;
  background-color: #407192;
  padding: 30px 0;
  color: white;
}

footer img {
  width: 50px;
  padding: 20px 10px 0 10px;
}

footer img:hover {
  opacity: 50%;
}

/******************************************
/* ABOUT PAGE
/*******************************************/

.body_about {
  padding: 0px 25px 15px 25px;
  overflow: hidden;
} 
#descriptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
}

.client_description {
    height: 250px; 
    width: 300px; 
    position: relative;
}

.client_description img {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    padding: 0 30px;
    opacity:0.5;
} 

.client_description img:hover {
  opacity: 1.0;
}

.body_about h1 {
  margin: 20px 0;
}

#clients h2 {
  padding-top: 15px;
  font-size: 1em;
}

#clients div {
  padding-bottom: 20px;
}

#AllStrat_description {
  padding-bottom: 50px;
}


/******************************************
/* DIGITAL PAGE
/*******************************************/

 
#digital p {
  margin: 30px 30px;
  text-align: center;
}

#digital h2 {
  padding: 10px 20px;
  background: #dadada;
  margin: 30px 0;
}

#graphics {
  width: 500px !important;
  margin: auto;
  margin-bottom: 60px;
}

#graphics img {
  width: 100%;
}

.logo_design {
  width: 40%;
}

.logos {
  padding-bottom: 30px;
  display: inline;
}

.btn-primary {
  background-color: white;
  border: none;
  width: 45%;
  margin-bottom: 30px;
}

.btn-primary:hover {
  background-color: #dadada;
}

#PR_logo {
    margin: 0 0;
    vertical-align: 250%;
    width: 100%;
  }

#AUC_logo {
    margin: 0 0;
    width: 100%;
}

#benchmarks {
  width: 100%;
}

.infographics {
  margin: auto;
}

#advances {
  margin: 0 28%;
}


/******************************************
/* ADVOCACY PAGE
/*******************************************/

.readtax, .readimmigration, .readlgbt, .readenergy, .readestatetax, .readinvestment, .readmessaging, .readtech, .readwater, .readschool. .readgiving {
  cursor: pointer;
}

.hide {
  display: none;
}

#map {
  height: 500px no-repeat; 
  width: 70%;
}

.lgbt, .immigration, .taxReform, .energy, .estatetax, .investment, .messaging, .technology, .water, .schools, .giving{
  width: 24%;
  display: inline-block;
  text-align: center;
  margin: 40px 0;
}
.lgbt img, .immigration img, .taxReform img, .energy img, .estatetax img, .investment img, .messaging img, .technology img, .water img, .schools img, .giving img {
  width: 150px;
  margin: auto;
}

#advocacy h1 {
  padding-bottom: 20px;
}
#advocacy h2 {
  background-color: #dadada;
  padding: 10px 20px;
}

#advocacy h3 {
  font-size: 1.2em;
}

#advocacy h4 {
  font-size: 1em;
}

#advocacy p {
  font-size: 1em;
}

/******************************************
/* CONTACT US PAGE
/*******************************************/

#first {
  margin-bottom: 10px;
}


#submit {
  background-color: #b32317;
  color: white;
  font-size: 1em;
}

#contact {
  margin: 0 10%;
}

#contact p {
  padding: 20px 0;
  text-align: center;
}

/******************************************
/* OUR TEAM PAGE
/*******************************************/

.col-md-8 h2 {
  background: #dadada;
  padding-left: 5px;
}

.img-rounded {
  border: 3px solid #dadada;
}

.row {
  margin-bottom: 20px;
}

.row p {
  font-size: .9em;
}

.row img:hover {
  opacity: 50%;
}

#erika_headshot, #keeley_headshot, #kathleen_headshot {
  margin-left: 15%;
}

/******************************************
/* DEVELOPMENT PAGE
/*******************************************/

#myTabs {
  margin-bottom: 200px;
}

#development p {
  margin-bottom: 50px;
}

.tab-pane {
  padding-top: 30px;
}

.tab-content {
  margin: auto;
  height: 200px;
  width: 70%;
}

.nav.nav-pills {
  margin: auto;
  background-color: #dadada;
  text-align: center;
  padding-left: 25%;
}

.nav-pills a {
  color: #b32317;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #b32317;
}

#development p {
  padding-left: 10px;
  text-align: center;
  margin-top: 20px;
}

.tab-pane img {
  padding-top: 20px;
  margin: 0 33%;
  width: 25%;
}

/******************************************
/* CAREERS PAGE
/*******************************************/

#careers {
  margin-bottom: 450px;
}

#careers p {
  margin-top: 30px;
  text-align: center;
}

/******************************************
/* DAESH PAGE
/*******************************************/

#call_them_daesh {
  margin-bottom: 100px;
}

#daesh_description {
  margin-top: 25px;
}

#Daesh_img {
  float: right;
  width: 350px;
  margin-top: 30px;
}

/******************************************
/* MEDIA QUERY
/*******************************************/

@media screen and (max-width: 865px) {

header nav li:first-child {
    display: inline-block;
  }

header nav li {
  display: inline-block;
}

header nav ul {
  width: 150px;
  height: 44px;
  overflow: hidden;
  transition: height 1s ease;
 }


.appear {
    height: 300px;
  }

nav ul > li ul   { 
  background: white;  
  display: block; 
  margin: 0;
  position: relative; 
  z-index: 1000;
      -moz-box-shadow: none;
   -webkit-box-shadow: none;
           box-shadow: none; 
}

nav ul > li:hover ul { 
 display: block;
 padding: 0 0; 
}

nav a:hover {
  background: white;
  color: #417292;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

nav ul > li li:hover   { 
  background: white; 
}

nav ul > li li { 
  float: none;
  font-size: 18px;
  color: #417292; 
}

nav ul > li li a { 
  color: #417292; 
  display: inline; 
  margin: 0 1px; 
  padding: 12px 25px 0px 15px; 
}

nav ul > li li a .sub{ 
  color: #417292; 
  display: inline; 
  margin: 0 1px; 
  padding: 0 0;
}

header nav ul li a {
    color: #417292;
    padding: 0 0;
}

.main_menu ul {
  height: auto;
}

p.tj_quote {
  color: white;
  font-size: 1em;
  padding: 10% 35% 15% 20px;
}

.nav.nav-pills {
    margin: auto;
    background-color: #dadada;
    text-align: center;
    padding: 0 6%;
}


/******************************************
/* SMALLER MEDIA QUERY
/*******************************************/

@media screen and (max-width: 720px) {

section.digital, section.development, section.advocacy {
  width: 100%;
}

section.lgbt, section.immigration, section.taxReform {
  width: 100%;
}

p.tj_quote {
  color: white;
  font-size: 1em;
  padding: 15% 20px;
}

.nav.nav-pills {
    margin: auto;
    background-color: #dadada;
    text-align: center;
    padding: 0 30%;
}

.nav-pills>li {
  float: none;
}

#our_team img {
  display: none;
}

.bios {
  width: 100%;
}


/******************************************
/* MOBILE MEDIA QUERY
/*******************************************/

@media screen and (max-width: 375px) {

#AllStrat_description {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px 15px 15px;
  margin-top: 0;
  float: none;
  margin-left: 0;
}

.nav-pills>li {
  float: none;
}

.nav.nav-pills {
    margin: auto;
    background-color: #dadada;
    text-align: center;
    padding: 0 0;
}

#our_team img {
  display: none;
}

.bios {
  width: 100%;
}
.graphic {
  padding: 0 0;
}

}

@media screen and (max-width: 500px) {
#graphics {
  width: 100% !important;
  margin: auto;
  margin-bottom: 60px;
}

}